/* <![CDATA[ */
    
    HTML, BODY
    {
        margin:                 0px;
        padding:                0px;
        font-family:            "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:              15px;
        text-align:             center;
        background:             #EEE -webkit-gradient( linear, 0% 0%, 100% 100%, from( #DDD ), to( #EEE ) );
        background:             #EEE -moz-linear-gradient( top left, #DDD, #EEE );
        color:                  #333;
        text-shadow:            #FFF 0px 1px 1px;
    }
    
    A IMG
    {
        border:                 none;
    }
    
    A, A:link, A:visited
    {
        color:                  #222;
        font-weight:            500;
        text-decoration:        none;
    }
    
    A:hover, A:focus
    {
        color:                  #333;
        text-decoration:        none;
        text-shadow:            #AAA 1px 1px 10px;
    }
    
    H1
    {
        font-size:              2.2em;
        margin:                 0px;
        margin-bottom:          15px;
        font-weight:            normal;
    }
    
    H1 A, H1 A:hover, H1 A:focus, H1 A:visited
    {
        color:                  #333;
        text-decoration:        none;
    }
    
    H1 SPAN
    {
        letter-spacing:         0px;
    }
    
    H2
    {
        font-size:              1.2em;
        margin-bottom:          5px;
    }
    
    H3
    {
        font-size:              1.2em;
        margin-bottom:          5px;
    }
    
    #forkme
    {
        position:               absolute;
        top:                    0px;
        right:                  0px;
        z-index:                999;
    }
    
    #forkme IMG
    {
        border:                 0px none;
    }
    
    #container
    {
        width:                  960px;
        height:                 auto;
        overflow:               hidden;
        margin:                 20px auto 0 auto;
        text-align:             left;
    }
    
    #header
    {
        overflow:               hidden;
        line-height:            1.8em;
        margin-bottom:          60px;
    }
    
    #content
    {
        float:                  left;
        width:                  600px;
        font-size:              95%;
        line-height:            150%;
    }
    
    #about
    {
        float:                  left;
        width:                  300px;
        margin-left:            60px;
        z-index:                1;
    }
    
    #about H2
    {
        margin-bottom:          10px;
    }
    
    #projects
    {
        height:                 auto;
        overflow:               hidden;
    }
    
    DIV.project {
        width:                  280px;
        margin-right:           40px;
        margin-bottom:          10px;
        float:                  left;
    }
    
    DIV.project:nth-child(2n+1)
    {
        margin-right:           0;
        clear:                  right;
    }
    
/* ]]> */