
body {
                                /* Background from http://subtlepatterns.com */
    background:                 #EFEFEF url( bg.png ) repeat top left;
    font-family:                Helvetica, Arial, sans-serif;
    margin:                     0px 0px 0px 0px;
    padding:                    0px 0px 0px 20px;
    font-size:                  18px;
    line-height:                1.5;
    color:                      #333;
}

header, section, article {
    display:                    block;
}

header {
    margin-bottom:              30px;
}

section {
    background-color:           white;
    -webkit-border-radius:      10px;
    -moz-border-radius:         10px;
    -o-border-radius:           10px;
    -ms- border-radius:         10px;
    border-radius:              10px;
    box-shadow:                 0 1px 3px #CCCCCC;
    padding:                    20px 20px 5px 20px;
}

a {
    text-decoration:            none;
}

a:hover {
    color:                      #666;
}

a, strong, h2, h3 {
    color:                      #365ABA;
}

h1, h2, h3 {
    font-family:                Lekton;
    font-weight:                bold;
    text-shadow:                0px 2px 0px #EEE;
    margin:                     0;
    color:                      #666;
}

h1 {
    font-size:                  2.8em;
}

h2 {
    font-size:                  1.8em;
}

h3 {
    font-size:                  1.3em;
}

p {
    margin-top:                 0px;
}

code {
    background-color:           #FFF;
    padding:                    0 10px;
    font-family:                Monaco, Menlo, monospace;
    font-size:                  0.9em;
}

.big {
    font-size:                  1.3em;
}

section {
    margin-bottom:              25px;
}

#container {
    width:                      800px;
    margin:                     40px auto 0 auto;
}

#links {
    font-family:                Lekton;
    font-weight:                bold;
    font-size:                  1.3em;
    padding-bottom:             15px;
}

@media all and (max-width: 900px) {
    h1 {
        font-size: 1.5em;
    }
    /*h1 > span {
        text-indent: -1000px;
        display: block;
        clear: right;
        height: 0;
    }*/
    body {
        font-size: 1em;
    }
    #container {
        width: auto;
        margin: 20px 20px 0 0;
    }
    h2 {
          font-size: 1.5em;
    }
    #links span {
        text-indent: -1000px;
        display: block;
        clear: right;
        height: 10px;
    }
}
